In [2]:
print("Hi")

Hi

 ## Convert .ipynb to .py
 #### Use the following commands

- EWHA
 - MATH
 - STATISTIC

$$ \frac{1}{3}=0.3333 $$

I have $a=\sqrt{3}$

In [5]:
x = 3
y = 5
z = x+y

In [6]:
print("Solve:",x,"plus",y)

Solve: 3 plus 5

In [25]:
print("{} plus {} equals {}".format(x,y,z))
print("{1} plus {0} equals {2}".format(x,y,z))

3 plus 5 equals 8
5 plus 3 equals 8

In [ ]:
int(5.0)

In [ ]:
float(5)

# List []

In [46]:
a = [1,2,5,7]
b = ["first","second","third"]
c=a+b

In [30]:
print("Output #3:{},{},{}".format(a,b,c))

Output #3:[1, 2, 5, 7],['first', 'second', 'third'],[1, 2, 5, 7, 'first', 'second', 'third']

In [31]:
a[1]

2

In [32]:
a[-1]

7

In [34]:
a[0:2]

[1, 2]

In [47]:
print(a + [9])
print(a)

[1, 2, 5, 7, 9]
[1, 2, 5, 7]

In [49]:
a.append(9)
print(a)

[1, 2, 5, 7, 9, 9]

In [107]:
list1 = [5,2,6,9,3,7,[5,10]]
n = [5,10]
ownership = n in list1
print(ownership)

True

In [108]:
list1.remove(9)
print(list1)

[5, 2, 6, 3, 7, [5, 10]]

In [115]:
list2 = [1,2,3,4,5]

In [116]:
# Insert 100 btw 3,4
list2[2:3] = 3,100
print(list2)

[1, 2, 3, 100, 4, 5]

# Dictionary {}

In [67]:
mydic = {"DarthVader":"Father","Luke":"Son","Leia":"Daughter"}

In [69]:
mydic.keys()

dict_keys(['DarthVader', 'Luke', 'Leia'])

In [70]:
mydic.values()

dict_values(['Father', 'Son', 'Daughter'])

In [72]:
mydic.items()

dict_items([('DarthVader', 'Father'), ('Luke', 'Son'), ('Leia', 'Daughter')])

In [75]:
for myk,myv in mydic.items() :
    print("{} is {}".format(myk,myv))

DarthVader is Father
Luke is Son
Leia is Daughter

In [76]:
mydic2 = {"Chewy":"Monster","Leia":"Daughter"}

In [78]:
mydic.update(mydic2)
mydic

{'Chewy': 'Monster', 'DarthVader': 'Father', 'Leia': 'Daughter', 'Luke': 'Son'}

# Tuple ()

In [79]:
mylist = [1,2,3]
mytuple = (1,2,3)

In [80]:
mylist[0] = 10
mylist

[10, 2, 3]

In [81]:
mytuple[0] = 10
mytuple      # tuple 은 수정불가!!

TypeError: 'tuple' object does not support item assignment

In [82]:
type(mylist)

list

In [84]:
mylist=tuple(mylist)
type(mylist)

tuple

In [86]:
myname = ["Ahn","Han","Nah"]

for i,myn in enumerate(myname) :
    print("{} is in number {}".format(myn,i))

Ahn is in number 0
Han is in number 1
Nah is in number 2

# For & IF & While

In [58]:
list2 = [1,2,3,4]
for i in list2:
    print(i)
    print(i**2)

1
1
2
4
3
9
4
16

In [60]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
a=8
c=5
if a<c :
    print("c is bigger")
else : 
    print("a is bigger")

a is bigger

In [87]:
a = 4
if a<3 :
    print("a<3")
else :
    if a>5 :
        print("a>5")
    else :
        print("3<= a <=5")
        print("Can you see?")
print("Here I am!")

3<= a <=5
Can you see?
Here I am!

In [89]:
s = 1
while s<10 :
    print(s)
    s = s +1
    if s==5 :
        break

1
2
3
4

In [90]:
s = 0
while s<10 :
    s = s +1
    if s==5 :
        continue
    print(s)   # 5가 생략

1
2
3
4
6
7
8
9
10

# Function

In [19]:
def add_two_num(x,y) :
    t = x+y
    return t

In [117]:
add_two_num(3,10)

13

# Class & Instance

In [118]:
class Human() :
    "Nothing"

In [119]:
person1 = Human()
person2 = Human()

In [120]:
person1

In [121]:
isinstance(person1,Human)

True

In [122]:
person3 = person1

In [123]:
person1 is person2

False

In [124]:
person1 is person3

True

In [126]:
person1.language = "Korean"
person2.language = "English"

In [128]:
person1.name = "Luke"
person2.name = "Ahn"

In [129]:
def speak(person) :
    print("{} speaks {}".format(person.name,person.language))

In [130]:
speak(person2)

Ahn speaks English

In [131]:
def create_human(namef,langf) :
    person = Human()
    person.name = namef
    person.language = langf
    return person

In [133]:
person3 = create_human("Chey","Wooo")

In [134]:
speak(person3)

Chey speaks Wooo

In [137]:
def eat(person) :
    person.weight = person.weight+2
    return person.weight
def walk(person) :
    person.weight = person.weight-1
    return person.weight

In [139]:
person1.weight = 100
eat(person1)
walk(person1)

101

In [144]:
class Human2() :
    def create(namef,weigf) :
        person = Human2()
        person.name = namef
        person.weight = weigf
        return person
    def eat(personf) :
        personf.weight = personf.weight +2
        print(personf.weight)
        return personf

In [145]:
person5 = Human2.create("Ahn",100)

In [146]:
Human2.eat(person5)

102